<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <a href="/export"><button>export to csv</button></a>
        <!--
        <a href="/export"><button>export to csv</button></a>

        <a href="/csv_file_download_with_file">Click me.</a>
        
        <form method="get" action="csv_file_download_with_file">
            <button type="submit">Download!</button>
        </form>

        -->

</head>

<body>

</body>
</html>