<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <form action = "/post" method = "post">
        <p>시작일 : <input type="text" id="userInput1" name = "userInput1" value="yyyymmdd"> </p>
        <p>종료일 : <input type="text" id="userInput2" name = "userInput2" value="yyyymmdd"> </p>
        <input type = "submit" value = "export to csv">
    </form>


</body>
</html>
